.b-about {
}
.b-about__inner {
  @extend .pure-g;
  @extend .container;
  padding-top: 50px;
  padding-bottom: 50px;
}
.b-about__text {
  @extend .pure-u-6-24;
  h1, p {
    font-weight: lighter;
  }
  p {
    line-height: 2em;
  }
}
.b-about__picture {
  @extend .pure-u-18-24;
}
.b-about__layers-wrapper {
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 350px;
}
.b-about__layers {
  position: relative;
  .b-about__player, .b-about__backend, .b-about__core {
    position: absolute;
    top: 0;
    left: 0;
    @extend .pure-img;
  }
}

.b-about__picture--animating .b-about__layers {
  @include transform(scale(1));
  @include animation(rotate-layers 1200ms 1000ms 1 forwards cubic-bezier(0.44, 0.22, 0, 1));
}
.b-about__picture--animating .b-about__player {
  z-index: 30;
  @include animation(explode-player 1200ms 2000ms 1 forwards cubic-bezier(0.44, 0.22, 0, 1));
}
.b-about__picture--animating .b-about__backend {
  z-index: 20;
}
.b-about__picture--animating .b-about__core {
  z-index: 10;
  @include animation(explode-core 1200ms 2000ms 1 forwards cubic-bezier(0.44, 0.22, 0, 1));
}

@include keyframes(rotate-layers) {
  to {
    @include transform(scale(0.6) translate3d(50px, 120px, 0) rotate(30deg) skewX(30deg) skewY(0deg));
  }
}

@include keyframes(explode-player) {
  to {
    @include transform(translate3d(-100px, 100px, 100px));
  }
}

@include keyframes(explode-core) {
  to {
    @include transform(translate3d(100px, -100px, 100px));
  }
}
