@mixin box-shadow-points($x,$y, $offset: 30, $opacity: 0.3) {
  $content: '0px 0px 0 1px rgba(255, 255, 255, 0)';
  @for $i from 0 to $x {
    @for $j from 0 to $y {
      $content: $content + ', #{$i*$offset + 4}px #{$j*$offset + 10}px 0 .5px rgba(255, 255, 255, #{$opacity})';
    }
  }
  box-shadow: #{$content};
}

@mixin rectangle-points($x, $y, $offset: 30, $left: 0, $top: 0) {
  $content: '0px 0px 0 1px rgba(255, 255, 255, 0)';

  @for $i from 0 to $x {
    $content: $content + ', #{$i*$offset + 1 + $left*$offset}px #{$top*$offset + 1}px .5px 1.5px rgba(255, 255, 255, 1)';
    $content: $content + ', #{$i*$offset + 1 + $left*$offset}px #{$top*$offset + $y*$offset + 1}px .5px 1.5px rgba(255, 255, 255, 1)';
  }
  @for $i from 0 to ($y - 1) {
    $content: $content + ', #{$left*$offset + 1}px #{$i*$offset + 1 + ($top + 1)*$offset}px .5px 1.5px rgba(255, 255, 255, 1)';
    $content: $content + ', #{$left*$offset + 1 + ($x - 1)*$offset}px #{$i*$offset + 1 + ($top + 1)*$offset}px .5px 1.5px rgba(255, 255, 255, 1)';
  }

  box-shadow: #{$content};
}

.b-getaccess {
  @include background-image(linear-gradient(to bottom right, $color-skyblue, $color-blue));
  @extend .pure-g;
  position: relative;
}
.b-getaccess__inner {
  @extend .pure-u-5-5;
  padding: 175px 0;
  text-align: center;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    display: block;
    color: #fff;
    width: 1px;
    height: 1px;
    @include box-shadow-points(100, 14);
  }
}

.b-getaccess__link {
  z-index: 2;
  padding: 10px 40px;
  margin-left: 4px;
  color: white;
  font-size: 2em;
  text-align: center;
  position: relative;
  text-decoration: none;
  &:hover, &:active {
    @include border-radius(5px);
    @include background(linear-gradient(to bottom right, $color-skyblue, $color-blue));
  }
  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 100;
  //   content: "";
  //   display: block;
  //   color: #fff;
  //   width: 1px;
  //   height: 1px;
  //   background: image-url('wav02.svg') repeat-x 300px bottom;
  //   // @include rectangle-points(8, 3, 30, 0, 0);
  // }
}
