.b-header {
  @extend .pure-g;
}
.b-header__inner {
  @extend .pure-u-5-5;
  @extend .container;
}
.b-header__menu {
  @extend .pure-menu;
  @extend .pure-menu-horizontal;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb; //efefef
  @include transition(height 0.5s);
  @include clearfix;
}
.b-header__menu-link {
  @extend .pure-menu-link;
  color: black;
}

.b-header__menu-list {
  float: right;
  @extend .pure-menu-list;
}
.b-header__menu-item {
  @extend .pure-menu-item;
  font-size: 1.1em;
  padding: .5em .6em;
  .pure-button {
    padding-left: 1.9em;
    padding-right: 1.9em;
  }
  &:last-child {
    padding-right: 0;
  }
}
.b-header__menu-item--disabled {
  @extend .pure-menu-disabled;
  color: #616161;
}
.b-header__logo-link {
  display: inline-block;
  padding: 12px 0;
  line-height: 1px;
}

.b-header__menu-toggle {
  width: 34px;
  height: 51px;
  position: absolute;
  top: 2em;
  right: 0;
  display: none;
  // padding-top: 1.3em;
  span {
    background-color: #777;
    display: block;
    // width: 20px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 100px;
    // position: absolute;
    // top: 18px;
    // right: 7px;
    @include transition(all 0.5s);
  }
}

@include breakpoint('tablet', 'max') {
  .b-header__menu-toggle {
    display: block;
  }
  .b-header__menu {
    height: 5em;
    &.b-header__menu--open {
      height: 20em;
    }
    .b-header__menu-list {
      display: block;
      float: left;
      width: 100%;
      margin-top: 11px;
    }
    .b-header__menu-item {
      display: block;
    }
    @include transition(height 0.5s);
  }
}
