.b-header {
  @extend .pure-g;
}
.b-header__inner {
  @extend .pure-u-5-5;
  @extend .container;
}
.b-menu {
  @extend .pure-menu;
  @extend .pure-menu-horizontal;
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}
.b-menu__link {
  @extend .pure-menu-link;
  color: black;
}

.b-menu__list {
  @extend .pure-menu-list;
  float: right;
}

.b-menu__logo-link {
  display: inline-block;
  padding: .4em 1em;
  line-height: 1px;
}
