.b-stats {
  @include background-image(linear-gradient(to bottom right, $color-skyblue, $color-blue));
  @extend .pure-g;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: image-url('wav01.svg') repeat-x left bottom;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: image-url('wav02.svg') repeat-x 300px bottom;
  }
}
.b-stats__inner {
  @extend .pure-u-5-5;
  @extend .container;
  padding-top: 145px;
  padding-bottom: 160px;
  text-align: center;
  color: white;
  h2 {
    margin: 0 0 25px;
    font-size: 3em;
    font-weight: lighter;
    color: white;
  }
  p {
    margin: 25px 0 0;
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 2em;
  }
  .ivs-separator {
    margin: auto;
    background-color: white;
  }
}
.b-stats__infos {
  @extend .pure-g;
  max-width: 500px;
  margin: 110px auto;
}
.b-stats__info {
  @extend .pure-u-sm-1-2;
  @extend .pure-u-5-5;
  font-weight: lighter;
  &:nth-child(1) {
    border-right: 1px solid $color-skyblue;
  }
}
.b-stats__info-value {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
  position: relative;
  sup {
    position: absolute;
    top: 0.5em;
    font-size: 0.3em;
    font-weight: normal;
  }
}
.b-stats__info-desc {
  color: $color-skyblue;
}
.b-stats_reference {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: $color-blue;
  letter-spacing: 0em;
}

@include breakpoint('568px', 'max') {
  .b-stats__infos {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .b-stats__info {
    &:nth-child(1) {
      border: 0;
      margin-bottom: 20px;
    }
  }
}

@include breakpoint('mobileonly', 'max') {
  .b-stats__inner {
    p {
      font-size: 1em;
    }
  }
}
