html, button, input, select, textarea,
.pure-g {
  font-family: Avenir, serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $body_bg;
}

.container {
  max-width: 100%;
  width: 970px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;

  @include breakpoint('laptop', 'max') {
    width: 760px;
  }
  @include breakpoint('tablet', 'max') {
    width: 100%;
  }
}

.ivs-separator {
  width: 20px;
  height: 1px;
  background-color: $color-skyblue;
}

.pure-button {
  @include border-radius(5px);
}
