html, button, input, select, textarea,
.pure-g {
  font-family: Avenir, serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $body_bg;
  font-size: 16px;
}

.container {
  max-width: 100%;
  width: 1218px; // 1170 + 24*2
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;

  @include breakpoint('desktop', 'max') {
    width: 1024px; //976 + 24*2
  }
  @include breakpoint('laptop', 'max') {
    width: 768px; // 720 +
  }
  @include breakpoint('tablet', 'max') {
    width: 100%;
  }
}

.ivs-separator {
  width: 25px;
  height: 1px;
  background-color: $color-skyblue;
}

.pure-button {
  @include border-radius(5px);
}
