@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  src: local('Avenir Light'), font-url('fonts/Avenir-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  src: local('Avenir Roman'), font-url('fonts/Avenir-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: local('Avenir Medium'), font-url('fonts/Avenir-Medium.ttf') format('truetype');
}
