@charset "utf-8";

@import "settings";
@import "imports";

html, button, input, select, textarea,
.pure-g {
  font-family: Avenir, serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $body_bg;
}

.container {
  max-width: 100%;
  // width: 970px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;

  // sm
  @media screen and (min-width: 35.5em) {
    width: 720px;
  }
  // md
  @media screen and (min-width: 48em) {
    width: 970px;
  }
  // // lg
  // @media screen and (min-width: 64em) {
  // }
  // // xl
  // @media screen and (min-width: 80em) {

  // }
}

.ivs-separator {
  width: 20px;
  height: 1px;
  background-color: $skyblue_color;
}

@import "modules/header";
@import "modules/about";
@import "modules/why";
@import "modules/stats";
